<div class="wrap">
  <div class="buttons">
    <div id="button1">
      <button type="button" name="getstuff" id="getter">
         Click here to get phrases </button>
    </div>
    <div id="button2">
      <button type="button" name="clear" id="clearer">
         Click here to clear the phrases </button>
    </div>
  </div>
  <div class="list">
    <%= render 'new/list' %>
  </div>
</div>
